<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="/tournaments">Tournaments</a></li>
        <li><a href="#">Log In</a></li>
    </ul>
</nav>
<body>
   <h1>This is the Fans Page</h1> 
   <p>Welcome!</p>
</body>
</html>