<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Fairways and Greens</title>
</head>
<body>
    <nav>
        <ul>
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/players">Players</a></li>
            <li><a href="#">Tournaments</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>
    <h1>Fairways and Greens</h1>
    <p>Welcome!</p>
    
</body>
</html>