<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fairways and Greens</title>
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



</head>


<body>
    
    <div>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper #1b5e20 green darken-4">
                    <a href="" class="brand-logo left">Fairways and Greens</a>
                    <ul class="right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/players">Players</a></li>
                        <% if(user) {%>
                        <li><a href="/players/new">Add Player</a></li>
                        <% } %>
                        <li><a href="/tournaments">Tournaments</a></li>
                        <% if(user) {%>
                        <li><a href="/tournaments/new">Add Tournament</a></li>
                        <% } %>
                        <li>
                            <% if(user) {%>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a>
    
                            <% } else { %>
                            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login With Google</a>
                            <% } %>
                        </li>
    
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    

    </div>
</div>

<div class="swilcan">

</div>



</body>
<div class="footer">
    <p>&copy; 2020 Stuart Palmer All Rights Reserved</p>
</div>

</html>