body {
    background-image: url("https://lh3.googleusercontent.com/proxy/RHqa7WeqFODkjztzzC7P3cwqqQQZDo1xRDBhfsRla6KI6HYzsGoc6aquzTB827N32KIZP-_H3fdYd6gz5B_A1O99f2da114lhjLPOJdWneMAEyL9Yw_x7KuUORBZcTAK31zMSDtUzNg54gARy8fENDWSeHA-djjX7HfybA");
    background-repeat: no-repeat;
    background-size: cover;
}